* 
{
    box-sizing: border-box;
}

html {
    background-repeat: no-repeat;
    background-size: cover;
}
header {
  height: 17vh;
background-color: #e79c2a ;
}
header h1 {
  color: #5a3d55;
  font-family: 'Luckiest Guy', cursive;
  font-size: 40px;
  position: absolute;
  left: 20vw;
  top : 4.5vh;
}


header img {
  position: sticky;
  display: block;
  width: 7%;
  height: 100%;
  left : 15vw;
}


main div {
  float : left;
  margin-top: 50px;
}

#resultBtn
{
  color: #3ca59d;
  font-weight: bolder;
  background-color : cornsilk;
  width:35%;
  height: 15%;
  margin-top: 10px;
  margin-right: 8px;
  margin-left: 15px;
  border: 2px solid #5a3d55;
  border-radius: 10px;
  float: right;
}

#resultBtn:hover{
  background-color: rgb(252, 236, 172);
}
#result{

  background-color : #a2de96;
  width:26%;
  height: 75%;
  margin-left: 15px;
  border: 2px solid #5a3d55;
  border-radius: 10px;
  
}
#result ul {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 5px;
  margin-right: 5px;
}
ul li {
  margin-bottom: 15px;
  font-family: 'Times New Roman', Times, serif;
text-align: center;
font-size: large;
}
#pics {
  width: 70%;
  text-align: center;
}

h3 {
  color : #3ca59d;
  text-align: center;
  font-size: 25px;
  font-weight: bolder;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-bottom: 10px;
  margin-top: 10px;
}
#pics img {
  border: 2px solid #5a3d55;
  border-radius: 10px;
  width: 260px;
  height: 260px;
  margin-right: 5px;
}

img:hover{
  opacity: 0.7;
}

#chart {
  position: relative;
  top: 1vh;
  left : 10vw;
  width: 50%;
  height: 60%;
}